.thongbao{
    text-align: center;
    color: wheat;
    font-size: 35px;
    background-color: blue;
}



.trungbinh{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 35px;
}




.doitien{
    text-align: center;
    font-size: 35px;
    background-color: brown;
    color: wheat;
}





.hcn{
    text-align: center;
    color: white;
    background-color: gold;
    font-size: 35px;
}


.chuvi{
    font-size: 35px;
    text-align: center;
    background-color: chocolate;
    color: white;
}



.kiso{
    text-align: center;
    font-size: 35px;
    color: wheat;
    background-color: darkcyan;
}